.container {
    margin: 0 550px;
    width: 250px;
    background-color: red;
    height: 35px;
    text-align: center;
    display: inline-block;
    position: relative;
}
.input-name{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
    font-weight: bold;
}
.input{
    position: relative;
    top: 7px;
    left: 30px;
}
.green-frame{
    border-color: #04ff00;
}
.red-frame{
    border-color: #FF0000;
}
.current-value-true, .current-value-error{
    padding: 10px;
    width: 190px;
    margin: 10px 580px;
    display: block;
    border: 2px grey solid;
    border-radius: 10px;
    text-align: center;
}
.green-font{
    color: #7cfc00;
}
.red-font {
    color: #FF0000;
}
.reset-button{
    margin-left: 20px;
    padding-left: 6px;
    font-size: 12px;
    font-weight: 900;
    color: #666;
    border: 1px black solid;
    border-radius: 50%;
    background-color: #fff;
}
