body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 700 16px Arial, sans-serif;
    background-image: url(../images/back-img.jpg)
}
.text {
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: justify;
    color: #fff711;
    transform: perspective(200px) rotateX(20deg);
    line-height: 2;
}
.text div {
    position: absolute;
    animation: scroller 30s linear infinite;
}
.text p {
    text-align: center;
    font-size: 270%;
}
@keyframes scroller {
    0% {
        top: 100%;
        opacity: 0;
    }
    7% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 0;
    }
}
