.container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  //grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

.product {
  &-image {
    width: 100%;
  }

  &-container {
    //border: 1px solid black;
    padding: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
}
.image-container{
  width: 50%;
  display: inline-block;
}
