div, a, header, ul, li, main, img, p, footer{
    margin: 0;
    padding: 0;
}
.page{
    width: 1280px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    border: 0;
    margin-left: 100px;
}
.top-menu{
    width: 100%;
}
.headlink{
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
}
.ra{
    color: #000000;
    padding-top: 61px;
    display: inline-block;
}
.mda{
    color: deepskyblue;
    padding-top: 61px;
    display: inline-block;
}
.top-menu ul{
    margin-top: 38px;
    list-style: none;
}
.top-menu li{
    background-color: #35444F;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    border: 2px solid white;
    margin-left: -2px;
    margin-right: -2px;
}
.top-menu li:hover {
    background-color: #222F3A;
    border: 2px solid aqua;
}
.top-menu ul a{
    display: block;
    padding: 26px 72px 19px 71px;
    color: #FFFFFF;
    text-decoration: none;
}
.side-menu{
    border: 1px solid #000000;
    width: 325px;
    margin: 50px 52px 0 0;
    display: inline-block;
    vertical-align: top;
}
.side-menu ul{
    list-style: none;
    display: block;
}
.side-menu li:hover{
    background-color: #DBDBDB;
    color: black;
    padding-left: 40px;
}
.side-menu a{
    padding: 26px 0 26px 42px;
    display: block;
    font-size: 27px;
    color: #485863;
    text-align: left;
    text-decoration: none;
}
.image-box{
    display: inline-block;
    width: 885px;
    height: 529px;
    margin-top: 50px;
    border: 1px solid #000000;
}
.image{
    padding: 75px 268px 73px 297px;
    overflow: hidden;
    height: 381px;
    width: 320px;
}
.image:hover{
    transition: 1s;
    transform: scale(1.2);
}
.paragraph{
    margin: 37px 99px 34px 496px;
    font-size: 18px;
    color: #2C2C2C;
}
.footer-container{
    width: 100%;
    margin-left: 0;
}
.footer-container ul{
    list-style: none;
    display: inline-block;
}
.footer-container li {
    background-color: rgba(99, 105, 110, 0.48);;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    margin-right: -4.4px;
}
.footer-container a {
    display: inline-block;
    text-align: center;
    color: #0C1927;
    padding: 21px 24px 20px 24px;
    font-size: 28px;
    text-decoration: none;
}
.footer-container a:hover{
    color: lightskyblue;
    text-decoration: underline lightskyblue;
}
.footer-container li:first-child {
    padding-left: 10px;
}
.footer-container span{
    color: #0C1927;
    text-align: right;
    background: rgba(99, 105, 110, 0.48);
    font-size: 28px;
    padding: 21px 20px 21.25px 20px;
}