html, body {
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
}
.header-top-part{
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text {
    font-weight: bold;
    font-size: 22px;
}
.logo-text a{
    text-decoration: none;
    color: #FFFFFF;
    background-image: url("../images/logo-img1.png");
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 60px;
}
.logo-text a:hover{
    color: #04ff00;
}
.anchor-menu {
    margin: auto;
}
.anchor-menu-container{
    background-color: #000000;
}
.head-menu li{
    display: inline;
}
.head-menu li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    padding-right: 34px;
    text-transform: uppercase;
}

.head-menu li a:hover{
    color: #04ff00;
}
.search{
    display: inline-block;
    background-color: #000000;
    padding: 26px;
    height: 23px;
    cursor: pointer;
}
.search:hover{
    background-color: #04ff00;
}
.search a{
    text-decoration: none;
}
.fa-search{
    color: #FFFFFF;
}
.header-bottom-part{
    background-image: url("../images/par2.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 369px;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    color: #FFFFFF;
}
.header-back-image-text{
    margin-top: 163px;
}
.button{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 6px;
    width: 170px;
    height: 55px;
    border-width: 0;
    cursor: pointer;
    margin-top: 44px;
}
.button:hover{
    color: #000000;
}
.flex-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-item{
    align-self: auto;
}
.subscribe-now{
    background-color: #89CA62;
}
.subscribe-now:hover{
    background-color: #fbff00;
}
.best-articles{
    background-color: #14B9D5;
}
.best-articles:hover{
    background-color: #fbff00;
}
.most-popular-posts{
    background-color: #F2F2F2;
    width: 100%;
}
.section-title{
    font-size: 27px;
    text-align: center;
    color: #18B4CF;
    padding: 49px 0 30px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 1170px;
    margin: 22px auto 72px;
    max-height: 870px;
}
.flex-element{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background-color: #FFFFFF;
    text-align: center;
    align-self: self-start;
    margin: 0 15px 30px 0;
}
.flex-element:hover{
    background-color: #fbff00;
}
.flex-element:nth-child(1){
    margin-left: 15px;
}
.flex-element:nth-child(2){
    margin-left: 15px;
}
.flex-element-name a{
    text-decoration: none;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
}
.flex-element a:hover{
    color: #40f;
}
.flex-element-name{
    text-align: center;
    margin: 20px 16px 22px 14px;
}
.our-most-popular-clients-box{
    background-color: #F2F2F2;
    width: 100%;
}
.back-image-popular-clients{
    background-image: url("../images/par1.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 588px;
    width: 100%;
    margin: -72px auto 0 auto;
}
.clients-header{
    font-size: 32px;
    color: #FFFFFF;
}
.dash{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 87px auto 0 auto;
}
.popular-clients-grid{
    display: grid;
    grid-template-columns: 229px 200px 239px 228px;
    grid-gap: 5px;
    margin: 107px 0 192px 0;
    justify-content: center;
}
.popular-clients-grid-item{
    text-align: center;
    height: 65px;
    width: 232px;
    border: 2px rgba(0,0,0,0) solid;
}
.popular-clients-grid-item:hover{
    border: 2px #fbff00 solid;
}
.post{
    background: url("../images/spritesheet-1.png") -370px -30px;
}
.dryme{
    background: url("../images/spritesheet-1.png") -885px -40px;
    width: 200px;
}
.house-and-home{
    background: url("../images/spritesheet-1.png") -46px -45px;
    width: 241px;
}
.journy{
    background: url("../images/spritesheet-1.png") -643px -41px;
}
.top-rated-box{
    width: 100%;
}
.top-rated-grid{
    display: grid;
    grid-gap: 0;
    width: 1255px;
    justify-content: center;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    overflow: hidden;
    margin: 0 auto 0;
}
.top-rated-grid-item img{
    border: 2px rgba(0,0,0,0) solid;
}
.top-rated-grid-item img:hover{
    transition: 1s;
    transform: scale(1.2);
}
.hot-news-box{
    width: 100%;
}
.hot-news-grid{
    display: grid;
    width: 1170px;
    margin: 0 auto 77px auto;
    grid-template-rows: 265px 1fr 1fr 265px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    justify-items: start;
    align-items: self-end;
}
.hot-news-grid-item{
    background-color: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    justify-content: center;
    align-content: center;
    border: 1px rgba(0,0,0,0) solid;
}
.hot-news-grid-item:hover{
    border: 1px #FF0000 solid;
}
.hot-news-grid-item a{
    text-decoration: none;
}
.item1 {
    grid-column: 1 / span 3;
    width: 856px;
}
.item2 {
    width: 277px;
}
.item3{
    grid-column: 1 / span 2 ;
}
.item4{
    grid-column: 3 / span 2;
}
.item5{
    grid-column: 1 / span 2 ;
}
.item6{
    grid-column: 3 / span 2;
}
.item8{
    grid-column: 2 / span 3;
    width: 855px;
}
.item1 div, .item8 div{
    display: inline-block;
    width: 368px;
    position: absolute;
    line-height: 1.6;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
}
.item1 span, .item8 span{
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #353A3D;
    padding: 30px 0 15px 0;
}
.item2 p, .item7 p{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #353A3D;
    padding: 14px 45px 11px 45px;
}
.hot-news-grid-item-name{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    color: #353A3D;
    padding: 14px 14px 15px 0;
}
.hot-news-grid-item-text{
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    color: #5B6469;
    line-height: 1.6;
    padding: 0 14px 0 13px;
}
.item3, .item4, .item5, .item6{
    width: 554px;
}
.footer{
    width: 100%;
}
.footer-text{
    font-size: 13px;
    color: #FFFFFF;
    padding: 29px 0 30px 0;
}
.footer-grid-container{
    background-color: #000000;
    display: grid;
    justify-content: center;
    grid-template-columns: 978px 38px 64px;
    grid-template-areas:
    "item1 item2 item3"
}
.footer-grid-item1 {
    grid-area: item1;
}
.footer-grid-item2 {
    grid-area: item2;
    width: 38px;
    padding-top: 29px;
}
.footer-grid-item3 {
    grid-area: item3;
    width: 64px;
    padding-top: 29px;
}

.up-button{
    display: inline-block;
    background-color: #FFFF44;
    width: 110px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 10;
    text-decoration: none;
    visibility: hidden;
}
.active {
    visibility: visible;
}
.button-toggle-container{
    background-color: #F2F2F2;
}
.toggle-button{
    float: right;
}