.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    position: relative;
}
.hidden {
    display: none;
}
.active {
    display: block;
    margin: auto
}
.button {
    position: absolute;
    top: 200px;
}
.button-stop {
    left: 200px;
}

.button-resume{
    left: 1000px;
}