.page {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    width: 1366px;
    text-align: center;
    background-image: url(../images/background.jpg);
    z-index: 1;
}
.logo-box{
    float: left;
    margin: 51px 0 26px 161px;
}
.image-box {
    display: inline-block;
}
.image-box a.logo{
    background-image: url(../images/logo.png);
    height: 47px;
    width: 53px;
    display: inline-block;
}
.image-box a:hover{
    background-image: url(../images/logo2.png);
}
.word-box{
    display: inline-block;
    margin-left: 8px;
}
.word-box a{
    text-decoration: none;
}
.logo-words{
    color: #FFFFFF;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    padding-left: 63px;
    height: 47px;
    width: 53px;
    display: inline-block;
}
.top-word{
    font-size: 29px;
    height: 30px;
}
.bottom-word {
    font-size: 18px;
}
.logo-words:hover{
    background-image: url(../images/logo2.png);
    display: inline-block;
    color: #F26522;
}
.contacts-box{
    float: right;
    font-size: 18px;
    color: #FFFFFF;
    margin: 46px 177px 17px 0;
}
.contacts-box a:hover{
    color: #F26522;
}
.contacts-box a{
    text-decoration: none;
    color: #FFFFFF;
}
.email{
    margin-bottom: 19px;
}
.gallery-box{
    width: 1034px;
    margin: 0 auto;
}
.gallery-box a.image-name{
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    display: block;
    margin-top: 20px;
    margin-bottom: 37px;
}
.gallery-box a.image-name:hover{
    color: #F26522;
}
.gallery-image{
    float: left;
    margin-right: 62px;
    position: relative;
    z-index: 2;
}
.gallery-image:nth-of-type(3n){
    margin-right: 0;
}
.gallery-image img{
    margin: 0 auto;
    width: 300px;
    height: 220px;
    background-image: linear-gradient(to top, red, white);
}
.clear-fix{
    clear: both;
    font-size: 0;
    height: 0;
}
.footer-container{
    height: 10%;
    font-size: 12px;
    color: #FFFFFF;
}
.hidden{
    display: none;
    background-color: #F26522;
    position: absolute;
    width: 298px;
    height: 55px;
    bottom: 82px;
    left: 1px;
    z-index: 3;
}
.gallery-image:hover .hidden{
    display: block;
    position: absolute;
}
.upper-text{
    font-size: 10px;
    color: white;
    margin-top: 7px;
    text-align: left;
    padding-left:16px;
}
.bottom-text{
    margin-top:8px;
    text-align: left;
}
.price{
    font-size: 20px;
    color: white;
    padding-left: 12px;
    padding-right: 128px;
}
.details{
    font-size: 14px;
    color: white;
}
.details:hover::after{
    content:"\00A0\00A0\00A0\00A0\00A0>";
}
