@font-face {
font-family: Arimo;
    src: url("../fonts/Arimo-Regular.ttf");
}
body{
    background-color: #3A4965;
}
.page{
    position: relative;
    font-family: Arimo, Arial, sans-serif;
    font-style: normal;
}
.change{
    position: absolute;
    top: 200px;
    left: 1190px;
}
td{
    border-left: 1px rgba(0,0,0,0.1) solid;
    font-size: 16px;
    color: #484848;
    text-transform: uppercase;
}
table{
    border-collapse: collapse;
    background-color: var(--back-color);
    color: var(--font-color);
}
.text-top{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin:51px 0 2px 0;
}
.text-bottom{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin:0 80px 48px 80px;
}
.text-left-container{
    font-weight: bold;
    font-size: 60px;
    padding: 26px 119px 13px 33px;
}
.text-right-container,.text-left-container{
    display: inline-block;
}
.td-head {
    position: relative;
}
.text-right-container{
    position: absolute;
    left: 135px;
    top: 19px;
}
.text-right-container-up{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
.text-right-container-bottom{
    font-size: 18px;
    text-align: left;
}
.head-colored-box{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 27px 60px 18px 62px;
}
.colored-container-green{
    font-size: 24px;
    color: #FFFFFF;
    background-color: #89C331;
}
.colored-container-pink{
    color: #FFFFFF;
    background-color: #F04A56;
}
.colored-container-blue{
    color: #FFFFFF;
    background-color: #20807C;
}
.table-body > tr > td {
    font-size: 16px;
    text-align: center;
    padding: 22px 0 25px 0;
}
.icon {
    color: #848484;
}
.table-foot > tr{
    text-align: center;
}
.table-foot td {
    padding: 30px 0 30px 0;
}
.button{
    color: #FFFFFF;
    width: 195px;
    height: 54px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
.contact-us{
    background-color: #484848;
    border-bottom: 9px solid #404040;
}
.buy-now-green{
    background-color: #89C331;
    border-bottom: 9px solid #79B027;
}
.buy-now-pink{
    background-color: #F04A56;
    border-bottom: 9px solid #DF3A46;
}
.buy-now-blue{
    background-color: #20807C;
    border-bottom: 9px solid #16736F;
}
.button:hover{
    font-size: 20px;
    font-weight: bold;
    border: 5px solid #FF0000;
    color: #0066ff;
    background-color: #fff700;
}
.black-back{
    background-color: rgb(0,0,0);
}
.white-font{
    color: rgb(255,255,255);
}

.light {
    --back-color: rgb(250,250,250);
    --font-color: rgb(72,72,72);
}
.dark {
    --back-color: rgb(0,0,0);
    --font-color: rgb(250,250,250);
}