*{
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
    background-color: rgba(0, 0, 0, 0.0001);
}
.wholepage {
    width: 1280px;
}
.menu{
    text-align: center;
}
.link1-3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    margin: 25.5px 36px 25.5px 36px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}
.link4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    margin: 25.5px 29px 25.5px 14px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}
/*
.link1-3:hover{
    text-decoration: underline;
    text-decoration-color: aqua;
}
.link4:hover{
    text-decoration: underline;
    text-decoration-color: aqua;
}
*/
.img{
    width: 100%;
    margin-bottom: 49px;
}
.header {
    text-align: center;
    margin-bottom: 38px;
}
.heading {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;
}
.button-container{
    text-align: center;
    margin-top: 36px;
}
.button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 18px;
    margin-right: 43.5px;
    margin-bottom: 17px;
    margin-left: 42.5px;
    outline: none;
    border: none;
    cursor: pointer;
}
.footer-container{
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
    margin-left: 713px;
}
.footer{
    height: 39px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}