body{
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    margin: 0;
}
.page {
    font-family: Ubuntu, Arial, sans-serif;
    font-style: normal;
    width: 1366px;
}
.header{
    width: 100%;
}
.head{
    margin-top: 0;
    margin-left: 0;
    background: rgba(0,0,0,0.4);
    height: 59px;
    width: 1366px;
}
.left-side,.right-side{
    display: inline-block;
}
.left-side{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 18px 0 0 79px;
}
.left-side a{
    text-decoration: none;
    color: #FFFFFF;
    transition-duration: .9s;
}
.left-side a:hover{
    color:#3CB878;
}
.right-side{
    margin: 0 79px 0 759px;
    text-align: center;
    position: relative;
}
.head-right-side-text {
    display: inline-block;
}
.text-welcome, .text-login,.text-or,.text-signup{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    transition-duration: .9s;
}
.text-welcome:hover{
    color: #d6d6d6;
}
.text-login:hover{
    color:#3CB878;
}
.text-or:hover{
    color: #d6d6d6;
}
.text-signup:hover{
    color:#3CB878;
}
.head-right-side-text{
    position: absolute;
    width: 203px;
    top: 10px;
    left: 120px;
}
.head-right-side-text:before{
    content: "|\00A0\00A0";
    font-size: 19px;
    color: rgba(255, 255, 255, 0.9);
}
.sprites{
    text-decoration: none;
}
.icon{
    display: inline-block;
    width: 32px;
    height: 33px;
    background: url("../images/spritesheet-all.png") no-repeat;
    transition-duration: .9s;
}
.icon.icon-envelope{
    background-position: -103px -21px;
}
.icon.icon-calendar{
    background-position: -21px -21px;
}
.icon.icon-compass{
    background-position: -188px -21px;
}
.icon-envelope:hover{
    background-position: -433px -21px;
    transition: left 0.3s;
}
.icon-calendar:hover{
    background-position: -268px -21px;
    transition: left 0.3s;
}
.icon-compass:hover{
    background-position: -352px -21px;
    transition: left 0.3s;
}
.content{
    position: relative;
    height: 720px;
}
.main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 630px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
.text-left,.text-right{
    display: inline-block;
}
.text-left{
    font-weight: normal;
    font-size: 20px;
    color: #434343;
    margin: 31px 209px 15px 61px;
}
.text-right{
    font-size: 14px;
    color: #3CB878;
    margin: 33px 59px 13px 0;
    transition-duration: .9s;
    text-decoration: none;
}
.text-right:hover{
    text-decoration: underline;
}
.btn-fb, .btn-ggl{
    width: 160px;
    height: 48px;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    transition-duration: .9s;
}
.btn-fb{
    background: #305DB8;
    margin: 0 0 40px 60px;
}
.btn-ggl{
    background: #DF4A32;
    margin-bottom: 40px;
    text-align: inherit;
}
.btn-fb:hover{
    background: #294F9D;
}
.fb-text {
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    padding-left: 18px;
}
.btn-ggl:hover{
    background: #C6422C;
}
.ggl-text{
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    padding-left: 25px;
}
.fa-facebook-f, .fa-google-plus-g{
    height: 20px;
    width: 12.46px;
    color: #FFFFFF;
    padding-right: 18px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
    font-size: 20px;
}
.fa-facebook-f{
    width: 12.46px;
    padding-right: 18px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
}
.fa-google-plus-g{
    width: 17px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
    padding-right: 12px;
}
.input-lines{
    width: 324px;
    height: 46px;
    margin: 0 40px 15px 40px;
    color: #BEBEBE;
    font-size: 14px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}
.input-lines:focus{
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.or-line-box{
    text-align: center;
    width: 78%;
    margin: 0 0 0 40px;
    overflow: hidden;
}
.or-word{
    position: relative;
    color: #848484;;
    font-size: 14px;
}
.or-word::before, .or-word::after{
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;;
    top:50%;
    right: 20px;
}
.or-word::after{
    left: 20px;
}
fieldset{
    border: solid 0 #000000;
}
.input-lines:first-child{
    margin-top: 16px;
}
fieldset > span{
    color:#434343;
}
.colored-text{
    color:rgb(60, 184, 120);
}
.footer{
    height: 74px;
    background-color: rgba(0,0,0,0);
    position: relative;
    top: 700px;
}
.account{
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    width: 324px;
    height: 46px;
    border-width: 0;
    border-color: rgba(0,0,0,0);
    margin: 20px 60px 38px 60px;
    cursor: pointer;
}
.checkbox{
    margin-left: 45px;
    display: none;
}
.green-box{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 461px;
    top: 80px;
    background: #3CB878;
}
.checkbox-box{
    cursor: pointer;
}
.new-checkbox{
    height: 14px;
    width: 13px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
    margin-left: 40px;
    top:4px;
}
[type=checkbox]:checked + .new-checkbox:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size:23px;
    color:green;
}