.modal {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 20px;

  &-content {
    width: 400px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.8);
  }

  &-content-alternative {
    background-color: rgba(150, 190, 0, 0.8);
  }

  &-header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }

  &-body {
    padding: 15px;
    text-align: center;
    font-size: 16px;
  }

  &-footer {
    display: flex;
    justify-content: space-evenly;
  }
}
