@media screen and (min-width: 1200px){
  .page-container{
    grid-template-areas: "nav-menu" "header-img" "recent-posts" "instagram" "footer";
  }
  .content-container{
    grid-template-columns: 1fr 1fr;
  }
  .header-img {
    width: 1170px;
    height: 550px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .page-container{
    grid-template-areas: "nav-menu" "header-img" "recent-posts" "instagram" "footer";
    justify-items: center;
  }
  .header-img{
    width: 100vw;
  }
  .nav-menu{
    margin: auto;
  }
  .content-container{
    grid-template-columns: 1fr;
  }
  .recent-posts-container, .header-img-container{
    margin: 0 3em;
  }
  .instagram-img-item:last-child{
    display: none;
  }
  .recent-posts-container{
    width: 769px;
  }
}

@media screen and (max-width: 768px) {
  .instagram-img-item, .img-desc, .instagram-text:last-child {
    display: none;
  }
  .instagram-img-item:first-child, .instagram-text-container {
    display: block;
    margin: auto;
  }
  .instagram-text{
    padding-left: 10px;
  }
  .recent-posts-container {
    width: 320px;
  }
  .header-img {
    width: 70vw;
  }
  .page-container {
    grid-template-areas: "button" "header-img" "recent-posts" "instagram" "footer";
    justify-items: center;
  }
  .content-container {
    grid-template-columns: 1fr;
    justify-items: start;
  }
  .recent-posts-container, .header-img-container {
    margin: 0 3em;
  }
  .content-item {
    flex-direction: column;
  }
  .nav-menu {
    display: none;
  }
  .button-container {
    display: block;
    margin: 1em;
    position: relative;
    left: 32vw;
  }
  .toggle-button {
    display: inline-block;
    border-color: transparent;
    color: white;
    background-color: $colorBlack;
  }
  .footer, .footer-container {
    width: auto;
  }
  .instagram-container {
    width: 100%;
  }
  .nav-menu-active {
    display: block;
    width: 182px;
    position: absolute;
    left: 70vw;
  }
  .nav-menu-list-active {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    right: 136px;
    top: 41px;
    width: 182px;
  }
  .nav-menu-item-active {
    display: block;
    background-color: #F5F5F5;
    list-style: none;
    padding: 4px 10px;
  }
  .nav-menu-item-active:hover {
    background-color: #E5E5E5;
  }
}