$colorDarkGrey : #4E4E4E;
$colorLightGrey: #7C7C7C;
$colorMediumGrey: #5C5C5C;
$colorDarkBlue: #57A4A4;
$colorFooterLight: #FEFEFE;
$colorFooterDark: #B9B9B9;
$colorBlack: #000000;
$colorIconOrange: #F8902E;
$colorIconDarkBlue: #39599F;
$colorIconLightBlue: #45B0E3;
$colorIconPink: #D97AB0;
$colorIconPurple: #CC212C;


