@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
}
.page-container{
  background: rgba(0, 0, 0, 0.0001);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.toggle-button{
  display: none;
  grid-area: button;
  width: 28px;
  height: 21px;
}
.button-container{
  display: none;
}
.nav-menu{
  grid-area: nav-menu;
  &-list{
    display: flex;
    justify-content: center;
  }
  &-item{
    list-style: none;
    display: inline-block;
    padding: 0 34px;
  }
  &-link{
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $colorDarkGrey;
  }
  &-link:hover{
    color: $colorDarkBlue;
  }
}
.header-img-container{
  display: inline-block;
  grid-area: header-img;
}

.recent-posts {
  grid-area: recent-posts;
  &-container{
    margin: 0 auto;
    width: 1200px;
  }
    &-title {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: $colorDarkGrey;
  }
}

.image-title{
  font-weight: bold;
  font-size: 16px;
  color: $colorDarkGrey;
}
.add-info{
  font-size: 12px;
  color: $colorLightGrey;
}
.img-desc{
  font-size: 14px;
  color: $colorMediumGrey;
}
.content-item{
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.img-container{
  margin-right: 15px;
}
.img-item{
  width: 160px;
}
.content-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content-container a{
  text-decoration: none;
  cursor: pointer;
}
.instagram{
  background-color: #f2f2f2;
  width: 100%;
  grid-area: instagram;
  &-container{
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 2em;
  }
  &-img-container{
    display: flex;
    justify-content: space-between;
  }
}
.instagram-text{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: $colorDarkGrey;
  &-container{
    display: flex;
    justify-content: space-between;
  }
}
.instagram-text a{
  text-decoration: none;
  cursor: pointer;
  color: $colorDarkGrey;
}
.get-intouch, .get-intouch-text, .contact-info{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $colorFooterLight;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 20px;
}
.get-intouch-text, .contact-info{
  font-weight: normal;
  text-transform: capitalize;
  color: $colorFooterDark;
}
.footer{
  width: 100%;
  grid-area: footer;
  background-color: $colorBlack;
  &-container{
    width: 684px;
    margin: auto;
    padding: 20px 10px;
  }
  &-icons{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
.icon-cover{
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.icon{
  position: absolute;
  top: 5px;
  right: 10px;
}
.rss-cover{
  border-color: $colorIconOrange;
}
.fa-rss{
  color: $colorIconOrange;
}
.fb-cover{
  border-color: $colorIconDarkBlue;
}
.fa-facebook-f{
  color: $colorIconDarkBlue;
}
.tumblr-cover{
  border-color: $colorIconLightBlue;
}
.fa-tumblr{
  color: $colorIconLightBlue;
}
.ball-cover{
  border-color: $colorIconPink;
}
.fa-basketball-ball{
  color: $colorIconPink;
}
.pint-cover{
  border-color: $colorIconPurple;
}
.fa-pinterest{
  color: $colorIconPurple;
}

@import "media";

