html, body {
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
}
.header-top-part{
    position: absolute;
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
}
.menu > ul, .menu-item, .search{
    display: inline;
}
.menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 16px;
    margin-right: 21px;
    padding-bottom: 50px;
}
.menu-link:hover{
    color: #18CFAB;
    cursor: pointer;
    border-bottom: 3px solid #18CFAB;
}
.fa-search{
    color: rgba(255, 255, 255, 0.6);
}
.logo{
    background-color: #18CFAB;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    padding: 25px;
    font-size: 40px;
    color: #FFFFFF;
}
.logo-text{
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}
.ham-text{
    color: #18CFAB;
    font-weight: 600;
}
.header-bottom-part{
    background-image: url("../img/Sections background/section-1(header).jpg");
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
}
.header-text-line{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.top-line-colored{
    color: #18CFAB;
}
.header-text-middle-line{
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-bottom-line{
    color: rgba(255, 255, 255, 0.6);
}
.text-container{
    margin-top: 379px;
}
.text-container > p{
    padding-bottom: 22px;
}
.button-container{
    margin-bottom: 259px;
}
.button{
    margin-right: 26px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 63px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.explore-button{
    background-color: #18CFAB;
    border-top: 5px #FFFFFF solid;
}
.purchase-button{
    background-color: #00CBF6;
    border-top: 5px #FFFFFF solid;
}
.customize{
    display: flex;
    align-items: center;
    flex-direction: row;
    width:100%;
    margin: auto;
}
.customize-element-dark{
    background-color: #1C2A33;
    color: #18CFAB;
}
.customize-element-aqua{
    background-color: #18CFAB;
    color: #FFFFFF;
}
.element-text{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.fa-hand-point-up, .fa-lightbulb{
    color: #18CFAB
}
.fa-gem, .fa-tablet-alt{
    color: #FFFFFF;
}
.customize-element{
    width: 25%;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.customize-element:hover{
    cursor: pointer;
}
.element-icon{
    font-size: 60px;
}
.blue-line{
    height: 3px;
    width: 50px;
    background-color: #18CFAB;
    margin: 0 auto 50px;
}
.services-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.services-tab-container{
    margin-top: 80px;
}
.services-tab-container > ul {
    position: relative;
}
.section-header{
    width: 100%;
    position: relative;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.section-header::after, .section-header::before{
    display: block;
    content: '';
    position: absolute;
    border-bottom: 1px solid #18CFAB;;
    width: 79px;
    height: 1px;
}
.section-header::after {
    top: 68px;
    right: 45%;
}
.section-header::before{
    top: 64px;
    right: 47%;
}
.services-tab-item, .amazing-services-tab-item{
    display: inline-block;
    position: relative;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    margin: -2px;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    padding: 10px;
    cursor: pointer;
}
.services-tab-item:hover{
    border: 1px solid #18CFAB;
}
.active-tab::after{
    content: '';
    position: absolute;
    right: 33%;
    top: 55px;
    border: 20px solid transparent;
    border-top: 20px solid #18CFAB;
}
.tab-content-container{
    margin-bottom: 91px;
}
.tab-content-img > img{
    width: 192px;
    height: 139px;
}
.tab-content{
    display: none;
    width: 715px;
    margin-top: 23px;
}
.tab-content-active{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.tab-content-text{
    padding-left: 10px;
    color: #777777
}
.everything-ready-container-content{
    background-image: url("../img/Sections background/everything.jpg");
    background-repeat: repeat;
}
.everything-ready-text-top{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-bottom: 12px;
}
.everything-ready-text-bottom{
    font-size: 16px;
    text-align: center;
    color: #D8D8D8;
    padding-bottom: 67px;
}
.everything-ready-text-container{
    padding-top: 126px;
}
.every-thing-ready-bottom-button{
    text-align: center;
    padding-bottom: 123px;
}
.our-amazing-work-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E9EDEF;
}
.our-amazing-work-tabs-container{
    margin-top: 69px;
}
.amazing-services-tab-item:hover{
    border: 1px solid #18CFAB;
    color: #18CFAB;
}
.active-tab{
    color: #FFFFFF;
    background-color: #18CFAB;
}
.amazing-services-tab-item-active{
    border: 1px solid #18CFAB;
    color: #FFFFFF;
}
.flex-container {
    margin: 70px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
}
.load-button{
    border-top: none;
}
.load-button-text{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 15px;
}
.fa-plus{
    padding: 15px;
}
.load-more-button{
    margin: 70px 0 100px;
}
.breaking-news-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 265px 265px 265px 265px;
    grid-gap: 35px;
    justify-content: center;
}
.breaking-news-grid-item> a{
    text-decoration: none;
}
.grid-item-text-container > p{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #717171;
}
.grid-item-text-container > p:hover{
    color: #18CFAB;
}
.grid-item-text-container > p > span{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #777777;
}
.grid-item-date{
    background-color: #203E38;
    color: #FFFFFF;
    position: relative;
    width: 68px;
    height: 50px;
    text-align: center;
    margin-bottom: -52px;
    margin-left: 197px;
}
.grid-item-date:hover{
    background-color: #18CFAB;
}
.by-admin:after{
    content: "|\00A0\00A0";
    font-size: 15px;
    color:#777777;
    padding-left: 10px;
}
.image-container > img {
    width: 263px;
    height: 208px;
    border: 2px solid #FFFFFF;
}
.image-container > img:hover{
    border: 2px solid #0066ff;
}
.what-people-say-container{
    background-image: url("../img/Sections background/section-3.jpg");
    background-position: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}
.people-say-header{
    color: #FFFFFF;
}
.fa-quote-left{
    height: 33px;
    color: #18CFAB;
}
.what-people-say-text, .person-position{
    font-size: 16px;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 10px;
}
.person-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.person-profile > p{
    margin-bottom: 10px;
}
.person-name{
    color: #18CFAB;
    text-align: center;
}
.photo-container{
    width: 166px;
    height: 166px;
    margin-bottom: 70px;
}
.photo-box, .photo-container{
    border: 5px solid rgba(31,218,181,0.2);
    /*mix-blend-mode: normal;*/
    opacity: 0.8;
    border-radius: 50%;
}
.photo-container > img {
    width: 163px;
    height: 165px;
}
.photo-box{
    width: 60px;
    height: 59px;
}
.photo-container-active{
    border: 5px solid #18CFAB;;
}
.arrow{
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}
.arrow:hover{
    background: #1FDAB5;
    color: #FFFFFF;
}
.slider-container, .slider-elements-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}
@keyframes myAnimation {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
.animation{
    animation: myAnimation 2s linear;
}
.slider-container{
    padding-bottom: 104px;
}
.arrow, .slider-element{
    margin-right: 20px;
    cursor: pointer;
}
.active-slider-element{
    height: 100px;
}
.footer-container{
    height: 121px;
    display: flex;
    background-color: #22353F;
    justify-content: center;
    align-items: center;
}
.footer-container > p{
    font-size: 14px;
    text-align: center;
    color: #AEAEAE;
}
.footer-container > p > i{
    color: #1FDAB5;
    font-style: normal;
}
.hidden{
    display: none;
    position: absolute;
    width: 285px;
    height: 211px;
    background-color: #E9EDEF;
}
.hidden-upper-text{
    margin: 30px 0 20px 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.hidden-bottom-text{
    font-size: 12px;
    color: #8A8A8A;
    text-align: center;
}
.flex-item:hover .hidden{
    display: block;
    position: absolute;
}
.icon-box{
    display: inline-block;
    margin: 50px 0 0 130px;
}
.fa-stop-circle{
    font-size: 32px;
    color: #18CFAB;
}